@charset 'UTF-8';
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: linear-gradient(45deg, rgb(167, 235, 222), rgb(13, 120, 144));
    /* background-position: center top;
    background-size: cover;
    background-repeat: no-repeat; */
    background-size: 300%, 300%;
    animation: colors 5s ease-in-out infinite;
    
}

@keyframes colors {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

section {
    width: 300px;
    min-height: 250px;
    background-color: rgba(131, 181, 246, 0.588);
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(213, 117, 21, 0.129);
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    

}
input {
    margin-top: 10px;
    margin-left: 5px;
    padding: 5px 10px;
    border: none;
    font-size: 17px;
    border-radius: 20px;
    background-color: rgba(76, 69, 69, 0.534);
    color: white;
}

input::placeholder{
    color: white
}

h2 {
    margin-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 0px black;

}

#botao-buscar {
    border: none;
    outline: none;
    padding: 10px;
    margin-right: 10px;
    margin-top: 5px;
    border-radius: 50px;
    cursor: pointer;
    float: right;

}

.img-buscar {
    width: 20px;
}

p#graus {
    padding-left: 10px;
    padding-bottom: 20px;
    font-weight: bold;
    color: white;
    font-size: 1.9em;
    text-shadow: 1px 1px 0px black;

}

p#nuvens {
    padding-left: 10px;
    padding-bottom: 20px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 0px black;

}

p#umidade {
    padding-left: 10px;
    padding-top: 40px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 0px black;
}

#nuvempng {
    width: 50px;
    padding: 20px;
    float: right;
}